.login{
    height:200px;
    width:290px;
    background:black;
    border:1px double black;
    border-radius:10px;
    opacity:0.8;
    position:absolute;
    right:40%;
    top:35%;
    padding:10px;
}

input[type="text"], input[type="password"] {
    width:100%;
    margin-bottom:10px;
    border:none;
    border-radius:20px;
    height: 20px;
    border-bottom:1px solid #fff;
    color:black;
    padding:12px;
}

input[type="submit"]{
    display: inline-block;
    width:100%;
    margin-bottom:10px;
    border:none;
    height:25px;
    border-radius:20px;
    color:#fff;
    background:blue;
}

input[type="submit"]:hover{
    background-color:red;
}

h2{
    margin:0;
    text-align: center;
    color:white;
    padding:0 0 20px;
    font-size:20px;
}

::-webkit-input-placeholder {
    text-align:center;
}