/*body{*/
/*    background-image: url("http://vseon.com/media/zoo/images/001_7d0408fae2f61f022953d6ec6fa989ac.jpg");*/
/*}*/
.main{
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 20px;
}

.order{
    background-color: #1E90FF;
    border-radius:20px;
    border: none;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

h2{
    margin:0;
    text-align: left;
    color:black;
    padding:0px;
    font-size:20px;
}
p{
    margin:0;
    text-align: left;
    color:black;
    padding:0px;
    font-size:20px;
}