.main{
    padding:20px;
}
h2{
    margin:0;
    text-align: left;
    color:black;
    padding:0px;
    font-size:20px;
}
p{
    margin:0;
    text-align: left;
    color:black;
    padding:0px;
    font-size:20px;
}

/*.order{*/
/*    background-color: #1E90FF;*/
/*    border-radius:20px;*/
/*    border: none;*/
/*    color: white;*/
/*    padding: 5px 10px;*/
/*    text-decoration: none;*/
/*    margin: 4px 2px;*/
/*    cursor: pointer;*/
/*}*/